html *,
html *:before,
html *:after {
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}
html i, html em,
html b, html strong,
html span {
  transition: none;
}

*:before,
*:after {
  z-index: -1;
}
@media (min-width: 600px) {
    .wrap {
        width: 50%;
        float: left;
    }
}

[class^="btn-"] {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 80px;
    max-width: 250px;
    margin: 1rem auto;
    text-transform: uppercase;
    border: 1px solid currentColor;
}

.btn-0 {
    color: #73a897;
}

.btn-0:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #365c50;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.btn-0:hover {
    color: #d6e6e1;
}

.btn-0:hover:before {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.btn-1 {
    color: #42584f;
}

.btn-1:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #14231d;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.btn-1:hover {
    color: #c8cecb;
}

.btn-1:hover:before {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.btn-1-2 {
    color: #4dca9a;
}

.btn-1-2:before,
.btn-1-2:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 80px solid #1c7452;
}

.btn-1-2:before {
    right: -50px;
    border-right: 50px solid transparent;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.btn-1-2:after {
    left: -50px;
    border-left: 50px solid transparent;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.btn-1-2:hover {
    color: #cbf0e1;
}

.btn-1-2:hover:before {
    -webkit-transform: translateX(-40%);
    transform: translateX(-40%);
}

.btn-1-2:hover:after {
    -webkit-transform: translateX(40%);
    transform: translateX(40%);
}

.btn-2 {
    color: #479455;
}

.btn-2:before,
.btn-2:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn-2:before {
    right: -50px;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #174d21;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.btn-2:after {
    left: -50px;
    border-left: 50px solid transparent;
    border-top: 80px solid #174d21;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.btn-2:hover {
    color: #c9e0cd;
}

.btn-2:hover:before {
    -webkit-transform: translateX(-49%);
    transform: translateX(-49%);
}

.btn-2:hover:after {
    -webkit-transform: translateX(49%);
    transform: translateX(49%);
}

.btn-3:before,
.btn-3:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 40px solid #374d29;
    border-bottom: 40px solid #374d29;
}

.btn-3:before {
    border-right: 40px solid transparent;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.btn-3:after {
    border-left: 40px solid transparent;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.btn-3:hover {
    color: #d6dfd0;
}

.btn-3:hover:before {
    -webkit-transform: translateX(-30%);
    transform: translateX(-30%);
}

.btn-3:hover:after {
    -webkit-transform: translateX(30%);
    transform: translateX(30%);
}

.btn-4 {
    color: #5c5e8a;
}

.btn-4:before,
.btn-4:after,
.btn-4 span:before,
.btn-4 span:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #262746;
}

.btn-4:before {
    -webkit-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
}

.btn-4:after {
    -webkit-transform: translate(-100%, 100%);
    transform: translate(-100%, 100%);
}

.btn-4 span:before {
    -webkit-transform: translate(100%, -100%);
    transform: translate(100%, -100%);
}

.btn-4 span:after {
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
}

.btn-4:hover {
    color: #cfd0dd;
}

.btn-4:hover:before {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-4:hover:after {
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}

.btn-4:hover span:before {
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.btn-4:hover span:after {
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}

.btn-5 {
    color: #63c88b;
}

.btn-5:after {
    content: '';
    width: 0;
    height: 0;
    -webkit-transform: rotate(360deg);
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: transparent #2b7247 transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.btn-5:before {
    content: '';
    width: 0;
    height: 0;
    -webkit-transform: rotate(360deg);
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: transparent transparent transparent #2b7247;
    position: absolute;
    bottom: 0;
    left: 0;
}

.btn-5:before,
.btn-5:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 0 solid;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.btn-5:before {
    bottom: 0;
    left: 0;
    border-color: transparent transparent transparent #2b7247;
}

.btn-5:after {
    top: 0;
    right: 0;
    border-color: transparent #2b7247 transparent transparent;
}

.btn-5:hover {
    color: #d1efdd;
}

.btn-5:hover:before,
.btn-5:hover:after {
    border-width: 80px 262.5px;
}

.btn-6 {
    color: #8c7472;
}

.btn-6 span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #483735;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.btn-6:hover {
    color: #ddd6d6;
}

.btn-6:hover span {
    width: 225%;
    height: 562.5px;
}

.btn-6:active {
    background-color: #785c59;
}

.btn-7 {
    color: #86668c;
}

.btn-7:before,
.btn-7:after,
.btn-7 span:before,
.btn-7 span:after {
    content: '';
    position: absolute;
    top: 0;
    width: 25.25%;
    height: 0;
    background-color: #442d48;
}

.btn-7:before {
    left: 0;
}

.btn-7:after {
    left: 50%;
}

.btn-7 span:before,
.btn-7 span:after {
    top: auto;
    bottom: 0;
}

.btn-7 span:before {
    left: 25%;
}

.btn-7 span:after {
    left: 75%;
}

.btn-7:hover {
    color: #dcd2dd;
}

.btn-7:hover:before,
.btn-7:hover:after,
.btn-7:hover span:before,
.btn-7:hover span:after {
    height: 80px;
}

.btn-8 {
    color: #b89f33;
}

.btn-8:before,
.btn-8:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #675509;
}

.btn-8:before {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.btn-8:after {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.btn-8:hover {
    color: #eae3c3;
}

.btn-8:hover:before {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn-8:hover:after {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.btn-9 {
    color: #beae54;
}

.btn-9:before,
.btn-9:after,
.btn-9 span:before,
.btn-9 span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(107, 96, 32, 0.25);
    transition: 0.4s ease-in-out;
}

.btn-9:after,
.btn-9 span:before {
    top: auto;
    bottom: 0;
}

.btn-9 span:before,
.btn-9 span:after {
    transition-delay: 0.4s;
}

.btn-9:hover {
    color: #ece7cd;
}

.btn-9:hover:before,
.btn-9:hover:after,
.btn-9:hover span:before,
.btn-9:hover span:after {
    height: 80px;
}

.btn-9:active {
    background-color: #b2a036;
}

.btn-10 {
    color: #2ca77a;
}

.btn-10:before,
.btn-10:after,
.btn-10 span:before,
.btn-10 span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 80px;
    background-color: rgba(4, 91, 59, 0.25);
    transition: 0.4s;
}

.btn-10:after,
.btn-10 span:before {
    left: auto;
    right: 0;
}

.btn-10 span:before,
.btn-10 span:after {
    transition-delay: 0.4s;
}

.btn-10:hover {
    color: #c1e5d8;
}

.btn-10:hover:before,
.btn-10:hover:after,
.btn-10:hover span:before,
.btn-10:hover span:after {
    width: 250px;
}

.btn-10:active {
    background-color: #079763;
}

@-webkit-keyframes criss-cross-left {
    0% {
        left: -20px;
    }

    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes criss-cross-left {
    0% {
        left: -20px;
    }

    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@-webkit-keyframes criss-cross-right {
    0% {
        right: -20px;
    }

    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes criss-cross-right {
    0% {
        right: -20px;
    }

    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}

.btn-11 {
    position: relative;
    color: #33af45;
}

.btn-11:before,
.btn-11:after {
    position: absolute;
    top: 50%;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #0fa124;
    border-radius: 50%;
}

.btn-11:before {
    left: -20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-11:after {
    right: -20px;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.btn-11:hover {
    color: #c3e8c8;
}

.btn-11:hover:before {
    -webkit-animation: criss-cross-left 0.8s both;
    animation: criss-cross-left 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.btn-11:hover:after {
    -webkit-animation: criss-cross-right 0.8s both;
    animation: criss-cross-right 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}