@media (min-width:500px) {}

@media (max-width:575px) {}

@media (min-width:575px) and (max-width:767px) {}

@media (max-width:614px) {
   
}

@media (min-width:769px) {
    .mainContainer {
        position: relative;
        overflow: hidden;
        height: 800px;
    }
}

@media (max-width:768px) {
    .angleDown {
        display: inline-block !important;
    }
    .navs,
    .navs.navbar-nav li:last-child,
    .navbar-nav {
        margin: 0
    }

    .navbar-collapse,
    .animationTop {
        display: none;
    }

    .container>.navbar-header,
    .container>.navbar-collapse {
        margin: 0;
    }


    .mediaNavbar {
        justify-content: center;
    }

    .headerNav {
        height: auto;
        min-height: 625px
    }

    .firstLoading .menuRotate {
        text-align: center;
        text-align: center;
        display: block;
        visibility: visible;
        margin-left: 0
    }

    .playVideo {
        top: 30%
    }

    .contacts {
        height: auto;
    }

    .services .nav-tabs {
        border-right: 0;
        padding-bottom: 10px
    }

    .footerList:before {
        display: none;
    }

    .dNone {
        display: none !important
    }

    footer .dFlex {
        justify-content: center !important
    }

    .firstLoading .playVideo,
    .firstLoading .navbar-brand {
        display: block;
    }

    .firstLoading .startLoading {
        display: none;
    }

    .firstLoading .menuRotate.mainRoute {
        display: none;
    }

    .firstLoading .menuRotate li {
        font-size: 40px
    }

    .clients {
        height: auto;
        padding-top: 80px ;
    }

    .clients img {
        width: auto !important;
        margin: 0 8px 100px !important
    }

    .mobileSlider,
    .servicesMobile {
        display: block !important;
    }

    .clients {
        display: block !important;
    }

    .services {
        padding-top: 30px;
        position: relative;
        padding-bottom: 30px;
        min-height: auto;

    }

    .services p {
        margin-bottom: 20px
    }
    .services:before {
        display: none;
    }

    .contacts .text-right {
        text-align: center !important
    }

    .contacts form {
        margin-bottom: 50px
    }

    .firstLoading.curtain .menuRotate {
        display: block;
    }

}

@media (min-width:1200px) {
    .firstLoading .mainContainer .startLoading {
        background-size: inherit;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .navbar-nav {
        float: none;
    }

    .footerList p {
        max-width: 250px
    }

    .footerList:before {
        display: none;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .footerList:before {
        right: -70px
    }
}


/* responsive  */