/* Start General */

@charset "utf-8";

@font-face {
    font-family: "AmericanTypewriter";
    src: url("../fonts/AmericanTypewriter.ttc");
}

@font-face {
    font-family: "AzoSansRegular";
    src: url("../fonts/AzoSans-Regular.otf");
}

@font-face {
    font-family: "AzoSansMedium";
    src: url("../fonts/AzoSans-Medium.otf");
}

@font-face {
    font-family: "AzoSansLight";
    src: url("../fonts/AzoSans-Light.otf");
}

@font-face {
    font-family: "AzoSansBlack";
    src: url("../fonts/AzoSans-Black.otf");
}

@font-face {
    font-family: "AzoSansBold";
    src: url("../fonts/AzoSans-Bold.otf");
}

body {
    font-family: 'AzoSansRegular', sans-serif !important;
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin-bottom: 0
}

a:hover,
a:focus {
    text-decoration: none;
    color: #000;
    outline: none;
}

input:focus,
select:focus {
    outline: none
}

* {
    border: 0 none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-family: 'AzoSansRegular', sans-serif !important;
}

p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.Pad_Top_5 {
    padding-top: 5px;
}

.Pad_Top_10 {
    padding-top: 10px;
}

.Pad_Top_15 {
    padding-top: 15px;
}

.Pad_Top_20 {
    padding-top: 20px;
}

.Pad_Bottom_5 {
    padding-bottom: 5px;
}

.Pad_Bottom_10 {
    padding-bottom: 10px;
}

.Pad_Bottom_15 {
    padding-bottom: 15px;
}

.padBottom20 {
    padding-bottom: 20px;
}

.Mar_Top_5 {
    margin-top: 5px;
}

.Mar_Top_10 {
    margin-top: 10px;
}

.Mar_Top_15 {
    margin-top: 15px;
}

.Mar_Top_20 {
    margin-top: 20px;
}

.Mar_Bottom_5 {
    margin-bottom: 5px;
}

.Mar_Bottom_10 {
    margin-bottom: 10px;
}

.Mar_Bottom_15 {
    margin-bottom: 15px;
}

.Mar_Bottom_20 {
    padding-bottom: 20px;
}

.marTop15 {
    margin-top: -15px;
}

a,
button {
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

.paddingTB {
    padding: 60px 0;
}

.paddingTB30 {
    padding: 30px 0;
}

.paddingT60 {
    padding-top: 60px;
}

.paddingT120 {
    padding-top: 120px;
}

.paddingTB15 {
    padding: 15px 0;
}

.paddingB60 {
    padding-bottom: 60px;
}

.marginTB40 {
    margin: 40px 0 !important;
}

.blueColor {
    color: #1b78da !important
}

.perpColor {
    color: #0f4c8d !important
}

.whiteColor {
    color: #fff !important
}

button:focus {
    outline: none
}

.maxWidth {
    max-width: 1000px;
    margin: auto
}

.maxWidth800 {
    max-width: 800px;
    margin: auto
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #cccccc
}

.start {
    font-size: 12px;
    color: #ffd800;
}

.redColor {
    color: #e42153 !important
}

.customBtn {
    min-width: 250px;
    padding: 10px;
    border: solid 7px #e42153;
    background-color: rgba(0, 0, 0, 0.35);
    display: inline-block;
    font-family: 'AmericanTypewriter' !important;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}

.sendBtn {
    border: solid 2px #e42153;
    background: transparent;
    font-family: 'AmericanTypewriter' !important;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    min-width: 150px
}

.customBtn:hover,
.sendBtn:hover {
    background: #e42153;
    color: #fff
}

.dFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.dFlexAlign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}


/* End General */


/* Start Custom Button */

.customRadio label {
    display: inline-block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    text-transform: capitalize
}

.customRadio input {
    height: 1px;
    width: 1px;
    opacity: 0;
}

.outside {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -8px;
    width: 15px;
    height: 15px;
    border: 2px solid #e42153;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
}

.inside {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background: #e42153;
    left: 3px;
    top: 3px;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
}

.no-transforms .inside {
    left: auto;
    top: auto;
    width: 0;
    height: 0;
}

input:checked+.outside .inside {
    -webkit-animation: radio-select 0.1s linear;
    animation: radio-select 0.1s linear;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.no-transforms input:checked+.outside .inside {
    width: 10px;
    height: 10px;
}


/* End Custom Button */


/* Start Custom Checkbox */

.checkbox span {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 35px;
    font-weight: 700;
}

input[type="checkbox"] {
    display: none;
}

.checkbox label,
.radio label {
    padding-left: 0;
}

input[type="checkbox"]+label {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 20px;
    height: 20px;
    position: relative;
}

input[type="checkbox"]:checked+label:after {
    content: '✔';
    display: inline-block;
    font-size: 17px;
    position: absolute;
    top: -3px;
    left: 3px;
    color: #e42153;
    font-weight: 700;
}


/* End Custom Checkbox */


/*Start  Custom radioButton */

.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 13px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked~.checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #e42153;
}


/*End  Custom radioButton */


/* Start preloader*/

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #545454;
    z-index: 100500;
}

#page-preloader .spinner {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    border: 3px solid transparent;
    border-top-color: #e42153;
    border-radius: 50%;
    z-index: 1001;
    -webkit-animation: spin 2.5s infinite linear;
    animation: spin 2.5s infinite linear;
}

#page-preloader .spinner:before,
#page-preloader .spinner:after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

#page-preloader .spinner:before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: #f59320;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

#page-preloader .spinner:after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: #fff;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* End preloader*/


/* Start Scroll Up*/

#scroll-top {
    position: fixed;
    left: 15px;
    bottom: 15px;
    display: none;
    z-index: 9999;
}

#scroll-top i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.75);
    font-size: 22px;
    z-index: 999;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}


/* End Scroll Up*/


/* Start header */

.headerNav {
    height: 800px;
    /* padding-top: 50px; */
    position: relative;
    overflow: hidden;
}

.headerNav:before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
    background: #fff;
}


/* .mainContainer.test {
    animation: 3s ease-in-out;
    -webkit-animation: 3s ease-in-out;
    position: static
} */

.mediaNavbar {
    padding-top: 50px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: 0;
    box-shadow: none
}

.navbar-default .navbar-toggle {
    border: 0;
    font-size: 30px;
    cursor: pointer;
    color: #e42153
}

.navbar-default .navbar-toggle:hover {
    background: transparent
}

.navbar-toggle {
    margin-top: 15px
}

.navbar-default {
    background: transparent;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    margin-bottom: 0
}


/* .navs {
    display: flex;
    float: none;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    flex-wrap: wrap
} */

.navs.navbar-nav>li>a {
    font-family: 'AzoSansLight' !important;
    font-size: 20px;
    color: #ffffff;
    padding: 0
}

.navs.navbar-nav>li>a:hover {
    color: #fff
}

.navbar-default .navs.navbar-nav>.open>a:focus,
.navbar-default .navs.navbar-nav>.open>a,
.navbar-default .navs.navbar-nav>.open>a:hover {
    background: transparent
}

.navbar-default .navbar-brand {
    color: #777;
}

.navbar-nav.navs>li>.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.navbar-brand {
    padding: 0px;
    height: auto;
}

.mainNavbar li {
    margin-right: 25px
}

.mainNavbar li:last-child {
    margin-right: 0
}


/* Start Menu Rotate */

.menuRotate {
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 35px */
    margin: 150px 0 150px 35px;
}

.menuRotate li {
    font-family: 'AmericanTypewriter' !important;
    font-size: 40px;
    /* font-weight: 600; */
    color: #fff;
    line-height: normal;
}

.playVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.playVideo button {
    background: transparent;
    cursor: pointer;
}


/* .animationTop {
    position: absolute;
    bottom: 70px
} */

.detailsAnimation {
    max-width: 338px;
    margin-left: 50px
}

.detailsAnimation p {
    font-family: 'AzoSansLight' !important;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    color: #ffffff;
}

.detailsAnimation span {
    font-family: 'AzoSansbold' !important;
}

.comments {
    width: 48px;
    height: 48px;
    box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.25);
    background: #e42153;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 48px;
    font-size: 30px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


/* End Menu Rotate */

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    transition: 1s opacity;
    -webkit-transition: 1s opacity;
    -moz-transition: 1s opacity;
    -ms-transition: 1s opacity;
    -o-transition: 1s opacity;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
}

.angleDown {
    font-size: 40px;
    color: #fff;
    margin-top: 20px;
    display: none;
    animation: angle-upDown 1.5s ease-in-out infinite;
    -webkit-animation: angle-upDown 1.5s ease-in-out infinite;
}

.angleDown:focus,
.angleDown:visited,
.angleDown:hover {
    color: #fff
}

@keyframes angle-upDown {

    0%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    50% {
        transform: translateY(20%);
        -webkit-transform: translateY(20%);
        -moz-transform: translateY(20%);
        -ms-transform: translateY(20%);
        -o-transform: translateY(20%);
    }
}


/* End header */


/* Start startLoading */

.headerNav {
    display: block !important;
    animation: 5s ease-in-out;
    -webkit-animation: 5s ease-in-out;
}

.firstLoading {
    animation: 5s ease-in-out;
    -webkit-animation: 5s ease-in-out;
}

.firstLoading .startLoading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: url(../images/mainLogo.svg) no-repeat center center;
    height: 100%;
    z-index: 999;
    cursor: pointer;
    background-size: cover;
}

.firstLoading .mediaNavbar {
    /* z-index: 999; */
    -webkit-box-align: baseline;
    -moz-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
}

.firstLoading .mediaNavbar .navs.navbar-nav>li>a {
    color: #000;
}

.firstLoading .mediaNavbar .navs.navbar-nav>li>a:hover,
.firstLoading.curtain .mediaNavbar .navs.navbar-nav>li>a:hover {
    color: #e42153
}

.firstLoading .mainNavbar {
    z-index: 999;
}

.firstLoading .playVideo,
.firstLoading .navbar-brand {
    display: none;
}

.menuRotate.mainRoute {
    display: none;
}

.firstLoading .menuRotate.mainRoute {
    display: block;
    margin: 0;
    margin-bottom: 50px;
    visibility: visible;
    z-index: 999;
}

.firstLoading .menuRotate.mainRoute li {
    color: #000
}

.firstLoading .menuRotate {
    visibility: hidden;
    margin-bottom: 50px;
    display: block;
}

.firstLoading .customBtn {
    border-width: 1px;
    background: #fff;
    color: #000;
    z-index: 999;
}

.firstLoading .detailsAnimation p {
    color: #000
}

.firstLoading #rotate2,
.firstLoading .detailsAnimation,
.firstLoading .comments {
    position: relative;
    z-index: 999;
}

.firstLoading .rotate div {
    color: #e42153
}

.firstLoading .rotate div.active {
    animation: slide-rotate .5s ease-out;
    -webkit-animation: slide-rotate .5s ease-out;
}

@keyframes slide-rotate {
    0% {
        transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
    }

    100% {
        transform: rotateY(0);
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
    }
}

.firstLoading .menuRotate li {
    font-size: 30px
}

.firstLoading.curtain .mediaNavbar .navs.navbar-nav>li>a {
    color: #fff
}

.firstLoading.curtain .menuRotate.mainRoute {
    display: none;
}

.firstLoading.curtain .playVideo,
.firstLoading.curtain .navbar-brand {
    display: block;
}

.firstLoading.curtain .detailsAnimation p {
    color: #fff;
}

.firstLoading.curtain .menuRotate {
    visibility: visible;
    margin-bottom: 150px;
    display: inline-block;
}

.firstLoading.curtain .menuRotate li {
    font-size: 40px
}

.firstLoading.curtain .customBtn {
    border: solid 7px #e42153;
    background: rgba(0, 0, 0, 0.35);
    color: #fff
}

.firstLoading.curtain .customBtn:hover,
.firstLoading .customBtn:hover {
    background: #e42153;
    color: #fff
}


/* .firstLoading {
    cursor: pointer;

}

.firstLoading.curtain {
    cursor: auto;

} */


/* 
.firstLoading.curtain .rotate div {
    color: #fff
} */


/* End startLoading */


/* Start Clients  */

.clients {
    height: 800px;
    background: #e42153;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center
}

.mainTitle {
    font-family: 'AzoSansLight' !important;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 100px
}

.clients img {
    margin: 0 30px;
    margin-bottom: 100px
}

.mobileSlider {
    display: none !important;
}

.mobileSlider .owl-prev {
    display: none !important;
}

.mobileSlider .owl-next {
    position: absolute;
    right: 0;
    bottom: -30px;
    background: #e7e6eb;
    width: 45px;
    height: 45px;
    padding: 0;
    line-height: 45px;
    font-size: 30px;
    color: #b7b7b7;
}


/* End Clients  */


/* Start Services */

.services {
    padding: 100px 0 265px;
    position: relative;
    min-height: 800px
}

.services:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../images/nimblebotFooter.png) no-repeat bottom center;
    width: 100%;
    height: 246px;
    background-size: contain;
    z-index: -1
}

.services .nav-tabs .nav-link {
    border: 0;
    font-family: 'AmericanTypewriter' !important;
    font-size: 40px;
    font-weight: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #000000;
    padding: 0;
    display: inline-block
}

.services .nav-tabs .nav-item.show .nav-link,
.services .nav-tabs .nav-link.active,
.services .nav-tabs .nav-link:hover {
    color: #e42153;
    background-color: transparent;
    border-color: transparent;
}

.services .nav-tabs {
    border-bottom: 0;
    border-right: 8px solid #f4f3f8;
    padding-bottom: 100px
}

.services p {
    max-width: 480px;
    font-family: 'AzoSansLight' !important;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
}

.tab-pane.active p {
    animation: slide-down .5s ease-out;
    -webkit-animation: slide-down .5s ease-out;
}

.tab-pane.active h3 {
    animation: slide-down .5s ease-out;
    -webkit-animation: slide-lef .5s ease-out;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(45%);
        -webkit-transform: translateY(45%);
        -moz-transform: translateY(45%);
        -ms-transform: translateY(45%);
        -o-transform: translateY(45%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@keyframes slide-lef {
    0% {
        opacity: 0;
        transform: translateX(25%);
        -webkit-transform: translateX(25%);
        -moz-transform: translateX(25%);
        -ms-transform: translateX(25%);
        -o-transform: translateX(25%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

.servicesMobile {
    display: none !important;
    padding: 15px
}

.servicesMobile .owl-prev {
    display: none !important;
}

.servicesMobile .owl-next {
    position: absolute;
    right: 0;
    bottom: -30px;
    background: #e42153;
    width: 83px;
    height: 50px;
    padding: 0;
    line-height: 50px;
    font-size: 25px;
    color: #fff;
    text-align: center
}


/* End Services */


/* Start Contact  */

.contacts {
    background: #223a59;
    height: 500px;
    padding: 100px 0;
}

.contacts h3 {
    font-family: 'AmericanTypewriter' !important;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: normal;
    color: #ffffff;
}

.contacts input {
    background: transparent;
    color: rgba(255, 255, 255, 0.2);
    max-width: 100%;
}

.contacts select,
.contacts select option {
    background: transparent;
    color: #e42153
}

.contacts form {
    margin-bottom: 100px
}


/* End Contact  */


/* Start Footer  */

footer {
    background: #c2cad7;
    padding: 100px 0 65px
}

.footerList {
    position: relative;
    margin-bottom: 28px;
}

.footerList:last-child {
    margin-bottom: 0
}

.footerHeader {
    font-family: 'AmericanTypewriter' !important;
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    line-height: normal;
    color: #000000;
    margin-bottom: 30px
}

.footerList p {
    max-width: 218px;
    font-family: 'AzoSansLight' !important;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
}

.footerList:before {
    position: absolute;
    right: -100px;
    height: 100%;
    top: 7px;
    background: rgba(0, 0, 0, 0.1);
    width: 2px;
    content: "";
}

.footerList:last-child:before {
    display: none;
}

.socailList a {
    margin: 0 20px 5px 0;
}

.socailList i {
    color: #9399a3;
    font-size: 30px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.socailList i:hover {
    color: #e42153
}


/* End Footer  */

.morecontent span {
    display: none;
}

.morelink {
    display: inline-block;
    color: #e42153 !important; 
    font-size: 15px;
}